{% extends "misvoti/base.html" %}
{% load static %}
{% block title  %}
    <title>Pensubito | Registrarse</title>
{% endblock title %}
{% block body_tag %}
<body class="hold-transition register-page">
{% endblock %}
{% block body_content %}

<div class="register-box">
  <div class="register-logo">
    <a href="{% url 'home' %}"><b>Pensubito</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
    <p class="login-box-msg">Registrate y comienza a planear tus trimestres</p>
    <p class="text-info">Dime un poco sobre ti para poder ayudarte.</p>

    <form action="{% url 'crear_cuenta' %}" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <label class="control-label" for="id_name">Nombre</label>
        <input type="text" class="form-control{% if  form.is_bound %}{% if form.name.errors  %} is-invalid{% else %} is-valid{% endif %}{% endif %}" placeholder="Nombre" name="name" id="id_name" value="{{ form.name.value }}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        {% if  form.is_bound and form.name.errors  %}
        <div class="invalid-feedback">
            <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      </div>
      <div class="form-group has-feedback">
        <label class="control-label" for="id_carnet">USBID</label>
        <input type="text" class="form-control{% if  form.is_bound %}{% if form.carnet.errors  %} is-invalid{% else %} is-valid{% endif %}{% endif %}" placeholder="Carnet" name="carnet" id="id_carnet"  value="{{ form.carnet.value }}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        {% if  form.is_bound and form.carnet.errors  %}
        <div class="invalid-feedback">
            <ul>
            {% for error in form.carnet.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      </div>
        <div class="form-group has-feedback">
            <label class="control-label" for="id_career">Pensum</label>
            {{ form.pensum }}
            {% if  form.is_bound and form.pensum.errors  %}
            <div class="invalid-feedback">
                <ul>
                {% for error in form.pensum.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    <div class="form-group has-feedback">
        <label class="control-label" for="id_username">Nombre de usuario *</label>
        <input type="text" class="form-control{% if  form.is_bound %}{% if form.username.errors  %} is-invalid{% else %} is-valid{% endif %}{% endif %} " placeholder="Nombre de usuario" name="username" id="id_username"  value="{{ form.username.value }}" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        {% if  form.is_bound and form.username.errors  %}
        <div class="invalid-feedback">
            <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      </div>
      <div class="form-group has-feedback">
        <label class="control-label" for="id_password">Contraseña *</label>
        <input type="password" class="form-control" placeholder="Password" name="password" id="id_password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          {{ form.password.errors }}
      </div>

{% comment %}
        <div class="form-group has-feedback">
            <label class="control-label" for="id_starting_year">Año en el que iniciaste clases(o inicias)</label>
            <select class="form-control selectpicker show-tick show-menu-arrow" name="starting_year" id="id_starting_year" title="¿En qué año inicias(te) clases?">
                {%  for year in years %}
                    <option value="{{ year }}" >{{ year }}</option>
                {% endfor %}
            </select>
        </div>
{% endcomment %}
      <div class="row">
        <div class="col-8">
            <label>
                Al crear una cuenta aceptas nuestros <a href="" onclick="alert('Not done yet!')">terminos y condiciones</a>
            </label>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat ">Registrarse</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- O -</p>
        {% url 'login_cas' as login_cas %}
        <a href="https://secure.dst.usb.ve/login?service={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ login_cas }}"
           class="btn btn-block btn-primary" role="button">
            <i class="fa fa-address-card mr-2"></i>Inicia sesión utilizando tú USB-ID
        </a>
    </div>
    <a href="{% url 'login' %}" class="text-center">Ya tengo una cuenta</a>
    </div>
  </div>
</div>
{% endblock %}

{#{% block final_pagina_scripts %}#}
{#<script>#}
{#  $(function () {#}
{#    $('input').iCheck({#}
{#      checkboxClass: 'icheckbox_flat-green',#}
{#      radioClass: 'iradio_flat-green',#}
{#      increaseArea: '20%' /* optional */#}
{#    });#}
{#  });#}
{#</script>#}
{#{% endblock %}#}
