{% extends 'misvoti/base.html' %}
{% block inicio_pagina_scripts %}
    <script>

        var btn_crear_plan = null;
        var componentes_form = null;

        // pre-submit callback
        function preAjaxSubmit(formData, jqForm, options) {
            componentes_form.each(function () {
                $(this).attr("disabled","disabled");
            });

            // formData is an array; here we use $.param to convert it to a string to display it
            // but the form plugin does this for you automatically when it submits the data
            var queryString = $.param(formData);

            // jqForm is a jQuery object encapsulating the form element.  To access the
            // DOM element for the form do this:
            // var formElement = jqForm[0];

            //alert('About to submit: \n\n' + queryString);

            // here we could return false to prevent the form from being submitted;
            // returning anything other than false will allow the form submit to continue
            return true;
        }

        // post-submit callback
        function postAjaxSubmit(responseJson, statusText, xhr, $form)  {
            // for normal html responses, the first argument to the success callback
            // is the XMLHttpRequest object's responseText property

            // if the ajaxSubmit method was passed an Options Object with the dataType
            // property set to 'xml' then the first argument to the success callback
            // is the XMLHttpRequest object's responseXML property

            // if the ajaxSubmit method was passed an Options Object with the dataType
            // property set to 'json' then the first argument to the success callback
            // is the json data object returned by the server

            if(statusText == "success"){
                if(responseJson.esta_creado_plan) {
                    btn_crear_plan.text("¡El plan ha sido creado!");
                    btn_crear_plan.attr("disabled", "disabled");
                    setTimeout("redirigir_plan_creado('" + responseJson.nombre_plan + "')", 1000);
                }else{
                    btn_crear_plan.text("Crear Plan");
                    btn_crear_plan.removeAttr("disabled");
                    html_errors = "";
                    for (var name in responseJson.errors) {
                        html_errors = "<ul>";
                        tiene_errores = false
                        for(var error in responseJson.errors[name]){
                            html_errors += "<li>" + responseJson.errors[name][error] + "</li>";
                            tiene_errores = true
                        }
                        html_errors += "</ul>";
                        if(tiene_errores) {
                            console.log(name);
                            console.log(html_errors);
                            console.log(div_errores[name]);
                            if (!jQuery.contains(document, div_errores[name])) {
                                div_errores[name].addClass("in");
                                $("#div-alert-container-" + name).append(div_errores[name]);
                            }
                            $("#div-container-errors-" + name).html(html_errors);
                        }else{
                            div_errores[name].alert('close');
                        }
                    }

                    componentes_form.each(function () {
                        $(this).removeAttr("disabled");
                    });
                }
            }else{
                btn_crear_plan.text("Crear Plan");
                btn_crear_plan.removeAttr("disabled");
                componentes_form.each(function () {
                    $(this).removeAttr("disabled");
                });
            }
        }

        function redirigir_plan_creado(nombre_plan) {
            window.location.replace({% url 'planes'%} + nombre_plan);
        }
        $(document).ready(function(){

            btn_crear_plan = $("button.btn-primary");

            div_errores = {};
            {% for field in form%}
                div_errores.{{ field.html_name }} = $("#div-alert-errors-" + "{{ field.html_name }}");
                div_errores.{{ field.html_name }}.alert('close');
            {% endfor %}
            componentes_form = $("form .form-component");

            $("form").submit(function (e) {
                btn_crear_plan.text("Creando Plan...");
                btn_crear_plan.attr("disabled","disabled");
                var options = {
                    //target:        '#output2',   // target element(s) to be updated with server response
                    beforeSubmit:  preAjaxSubmit,  // pre-submit callback
                    success:       postAjaxSubmit,  // post-submit callback

                    // other available options:
                    //url:       url         // override for form's 'action' attribute
                    //type:      type        // 'get' or 'post', override for form's 'method' attribute
                    dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                    //clearForm: true        // clear all form fields after successful submit
                    //resetForm: true        // reset the form after successful submit

                    // $.ajax options can be used here too, for example:
                    //timeout:   3000
                };

                e.preventDefault();
                $("form").ajaxSubmit(options);
            });
            $("#id_select_{{ form.carrera_plan.html_name }}").change(function () {
                $.get("{% url 'planes_base' %}",{
                            carrera:$(this).val()
                        },
                        function(data, status) {
                            if (status == "success") {
                                alert(data);
                                console.log(data);
                            } else {
                                alert("Ocurrió un error actualizando el plan");
                            }
                        });
                    });
            });

    </script>
{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear Nuevo Plan
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'planes' %}">Planes</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Crear
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <form role="form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="{{ form.nombre_plan.id_for_label }}">Nombre</label>
                    <input type="text" class="form-control form-component" id="{{ form.nombre_plan.id_for_label }}" name="{{ form.nombre_plan.html_name }}" aria-describedby="inputGroup1Status" placeholder="Nombre del plan">
                </div>
                <div id="div-alert-container-{{ form.nombre_plan.html_name }}">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert" id="div-alert-errors-{{ form.nombre_plan.html_name }}">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">×</span>
                         </button>
                        <div id="div-container-errors-{{ form.nombre_plan.html_name }}"></div>
                    </div>
                </div>

                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">¿De cual plan se tomaran las materias?</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="id_select_{{ form.carrera_plan.html_name }}">Carrera</label>
                        <select class="form-control form-component"name="{{ form.carrera_plan.html_name }}" id="id_select_{{ form.carrera_plan.html_name }}" >
                            {% for x,y in form.fields.carrera_plan.choices %}
                                <option value="{{ x }}" {% if form.fields.carrera_plan.value == x %} selected="selected" {% endif %}>{{ x }} - {{ y }}</option>
                            {% endfor %}
                        </select>
                        <div id="div-alert-container-{{ form.carrera_plan.html_name }}">
                            <div class="alert alert-danger alert-dismissible fade in" role="alert" id="div-alert-errors-{{ form.carrera_plan.html_name }}">
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">×</span>
                                 </button>
                                <div id="div-container-errors-{{ form.carrera_plan.html_name }}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_select_{{ form.plan_utilizar.html_name }}">Plan de estudio</label>
                        <select class="form-control form-component form-component"  name="{{ form.plan_utilizar.html_name }}" id="id_select_{{ form.plan_utilizar.html_name }}">
                            {% for x,y in form.fields.plan_utilizar.choices %}
                                <option value="{{ x }}" {% if form.fields.plan_utilizar.value == x %} selected="selected" {% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                        <div id="div-alert-container-{{ form.plan_utilizar.html_name}}">
                            <div class="alert alert-danger alert-dismissible fade in" role="alert" id="div-alert-errors-{{ form.plan_utilizar.html_name}}">
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">×</span>
                                 </button>
                                <div id="div-container-errors-{{ form.plan_utilizar.html_name}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="form-component" value="" name="{{ form.construir_usando_pb.html_name }}">
                            ¡Crea todos los trimestres de acuerdo al plan!
                          </label>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">¿Desde cuando planeas comenzar(o comenzaste) tus estudios?</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="id_select_{{ form.periodo_inicio.html_name }}">Periodo</label>
                        <select class="form-control form-component"  name="{{ form.periodo_inicio.html_name }}" id="id_select_{{ form.periodo_inicio.html_name }}">
                            {% for x,y in form.fields.periodo_inicio.choices %}
                                <option value="{{ x }}" {% if form.fields.periodo_inicio.value == x %} selected="selected" {% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_select_{{ form.anyo_inicio.html_name }}">Año</label>
                        <select class="form-control form-component"  name="{{ form.anyo_inicio.html_name }}" id="id_select_{{ form.anyo_inicio.html_name }}">
                            {% for x,y in form.fields.anyo_inicio.choices %}
                                <option value="{{ x }}" {% if form.fields.anyo_inicio.value == x %} selected="selected" {% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">¡Utilizar datos de mi expediente!</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="{{ form.archivo_html_expediente.id_for_label }}">Archivo HTML</label>
                        <input type="file" class="form-control form-component"  name="{{ form.archivo_html_expediente.html_name }}" id="{{ form.archivo_html_expediente.id_for_label }}"  style="padding-bottom: 40px !important;">
                    </div>
                    <div id="div-alert-container-{{ form.archivo_html_expediente.html_name }}">
                        <div class="alert alert-danger alert-dismissible fade in" role="alert" id="div-alert-errors-{{ form.archivo_html_expediente.html_name }}">
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">×</span>
                             </button>
                            <div id="div-container-errors-{{ form.archivo_html_expediente.html_name }}"></div>
                        </div>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Crear Plan</button>
            </form>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
