<!-- Modal de Agregar/Modificar materia -->

<div class="modal fade sucess" tabindex="-1"  id="modal-materia" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <form data-togle="validator">

                 <div class="form-group">
                    <label class="control-label" for="select_tipo_materia">Tipo de Materia:</label>

                    <select class="selectpicker show-tick show-menu-arrow"  title="Tipo de la Materia" name="select_tipo_materia" id="select_tipo_materia" data-width="100%" required>
                        <option value="RG" >Regular</option>
                        <option value="EX" >Extraplan</option>
                        <option value="GE" >General</option>
                        <option value="EL" >Electiva Libre</option>
                        <option value= "EA">Electiva de Area</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="input_codigo_mat">Código:</label>
                    <input list="codigos" class="form-control" data-validator-function = "validar_codigo" id="input_codigo_mat" name="txt_input_codigo_mat" placeholder="Formato: 'XX-YYYY'">
                    <datalist id="codigos">
                    </datalist>
                </div>

                <div class="form-group">
                    <label class="control-label" for="select_nota_final">Nota Obtenida o ¿Retirada?:</label>
                    <select class="selectpicker  show-tick show-menu-arrow"  title="Escoja una opción."  name="select_nota_final" id="select_nota_final" data-width="100%">
                        <optgroup label="Posibles Notas">
                            <option >1</option>
                            <option >2</option>
                            <option>3</option>
                            <option >4</option>
                            <option>5</option>
                        </optgroup>
                        <optgroup label="¿Está Retirada?">
                            <option title="Retirada" value='R'> Retirada </option>
                        </optgroup>
                    </select>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="select_creditos">Creditos:</label>
                    <select class="selectpicker  show-tick show-menu-arrow"  title="Escoja los creditos."  name="select_cred" id="select_creditos"  required data-width="100%">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="input_nombre_materia"  data-toggle="tooltip" data-placement="right" title="Tooltip on right">Nombre:</label>
                    <input list="nombres_mat" class="form-control" id="input_nombre_materia" name="txt_input_nombre_mat" placeholder="Nombre">

                    <datalist id="nombres_mat">
                    </datalist>
                </div>

            </form>
       </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="btn-accion-materia">Agregar</button>
        </div>
    </div>
  </div>
</div>

<script>
    var modal_agregar_mat = $("#modal-materia");
    var  select_creditos_en_modal = modal_agregar_mat.find("#select_creditos");
    var  txt_input_codigo_mat_en_modal = modal_agregar_mat.find("#input_codigo_mat");
    var  txt_input_nombre_mat_en_modal = modal_agregar_mat.find("#input_nombre_materia");
    var  select_tipo_mat_en_modal = modal_agregar_mat.find("#select_tipo_materia");

    var dowpdown_opciones_codigos = $("datalist[id='codigos']");
    var dowpdown_opciones_materias_nombres = $("datalist[id='nombres_mat']");


    var btn_accion = modal_agregar_mat.find("#btn-accion-materia");

    var indice_trimestre;
    var indice_materia;

    var materia_json;

    var panel ;
    var tr_trimestre;
    var accion;

    var errores_en_campos = false;


    function resetearDefaultInputs() {
        select_creditos_en_modal.selectpicker('val','');
        select_tipo_mat_en_modal.selectpicker('val','');
        txt_input_nombre_mat_en_modal.val('');
        txt_input_codigo_mat_en_modal.val('');
        modal_agregar_mat.find("#select_nota_final").selectpicker('val','');
    }

    modal_agregar_mat.on('show.bs.modal', function (event) {

        var botonTrigger = $(event.relatedTarget);

        panel =  botonTrigger.closest("div.panel");
        tr_trimestre = botonTrigger.closest('tr');
        indice_trimestre   = parseInt(panel.data("trimestre-codigo"));

        accion = botonTrigger.data('action') || "agregar";

        modal_agregar_mat.find(".modal-title").html(
                "Trimestre: " +
                convertir_periodo_codigo_a_string(plan_creado_json.trimestres[indice_trimestre].periodo) + " " +
                plan_creado_json.trimestres[indice_trimestre].anyo
        );

        limpiarMensajesErrorCampos();

        if(accion == "agregar") {

            indice_materia = plan_creado_json.trimestres[indice_trimestre].materias.length;
            materia_json = {};

            resetearDefaultInputs();

            btn_accion.html("¡Agregar Materia!");
        }else if(accion == "editar"){

            indice_materia = parseInt(tr_trimestre.data('materia-codigo'));
            materia_json = plan_creado_json.trimestres[indice_trimestre].materias[indice_materia];

            select_creditos_en_modal.selectpicker('val', materia_json.creditos);
            select_tipo_mat_en_modal.selectpicker('val', materia_json.tipo);
            txt_input_nombre_mat_en_modal.val(materia_json.nombre);
            txt_input_codigo_mat_en_modal.val(materia_json.codigo);
            if(materia_json.esta_retirada != undefined) {
                if (!materia_json.esta_retirada) {
                    modal_agregar_mat.find("#select_nota_final").selectpicker('val', materia_json.nota_final);
                } else {
                    modal_agregar_mat.find("#select_nota_final").selectpicker('val', 'R');
                }
            }else{
                modal_agregar_mat.find("#select_nota_final").selectpicker('deselectAll');
            }

            btn_accion.html("¡Guardar Cambios!");
        }else{
            console.log("Error abriendo Modal Materia: accion=",accion," desconocida!");
            event.preventDefault();
        }

        btn_accion[0].className = "btn btn-primary";

    });


    btn_accion.click(function (event) {

        errores_en_campos = false;

        campos_validar.each(function (index, element) {
            limpiarErrorCampo(index,element);
            var jqCampo = $(this);
            validarCampo(jqCampo);
        });

        if(errores_en_campos){
            event.preventDefault();
            return;
        }
        btn_accion[0].className = "btn btn-success";


        materia_json.codigo = txt_input_codigo_mat_en_modal.val();
        materia_json.nombre = txt_input_nombre_mat_en_modal.val();
        materia_json.creditos = parseInt(select_creditos_en_modal.val());
        materia_json.tipo = select_tipo_mat_en_modal.val();

        var val_nota = modal_agregar_mat.find("#select_nota_final").val();

        materia_json.esta_retirada = val_nota == 'R';
        if(!materia_json.esta_retirada){
            materia_json.nota_final = parseInt(val_nota);
        }

        modal_agregar_mat.modal("hide");

        //var n_materias = plan_creado_json.trimestres[indice_trimestre].materias.length;
        plan_creado_json.trimestres[indice_trimestre].materias[indice_materia] = materia_json;

        if(accion == "agregar"){
            var nuevo_tr_mat_jquer = $(crear_html_tr_materia(indice_trimestre,indice_materia)).hide();
            nuevo_tr_mat_jquer.find(".selectpicker").selectpicker('refresh');

            panel.find("tbody.materias-trimestres").append(nuevo_tr_mat_jquer);

            nuevo_tr_mat_jquer.show('slow');
        }else{
            var tds = tr_trimestre.find("td");

            var codigo_td = $(tds[0]);

            if(materia_json.codigo){
                codigo_td.html(materia_json.codigo);
            }else{
                codigo_td.html("<abbr title='Sin Definir '>Sin.Definir.</abbr> </td>");
            }

            var nombre_td = $(tds[1]);

            if(materia_json.nombre){
                nombre_td.html(materia_json.nombre);
            }else{
                nombre_td.html("<abbr title='Sin Definir '>Sin.Definir.</abbr> </td>");
            }

            $(tds[2]).html(convertir_tipo_materia_codigo_a_string(materia_json.tipo));
            $(tds[3]).html(materia_json.creditos);

            if(!materia_json.esta_retirada){
                $(tds[4]).find(".selectpicker").selectpicker('val', materia_json.nota_final);
            }else{
                $(tds[4]).find(".selectpicker").selectpicker('val', 'R');
            }

        }

        actualizar_datos_plan_creado();

        btn_guardar_cambios.text("Guardar Cambios*");
        btn_guardar_cambios.removeAttr("disabled");

    });
    txt_input_codigo_mat_en_modal.on('input',function(e){
        $.get("{% url 'materias' %}",{
                    codigo:txt_input_codigo_mat_en_modal.val(),
                    max_length:5,
                },
                function(data, status){
                    if (status == "success"){
                        if(data.materias.length == 1 && data.materias[0].codigo == txt_input_codigo_mat_en_modal.val()){
                            select_creditos_en_modal.selectpicker('val',data.materias[0].creditos);
                            txt_input_nombre_mat_en_modal.val(data.materias[0].nombre);
                        }else{
                            var html_dropdown = '';
                            for(var i in data.materias){
                                html_dropdown += '<option value="' + data.materias[i].codigo + '">' + data.materias[i].codigo+" - " +data.materias[i].nombre+ '</option>';
                            }
                            dowpdown_opciones_codigos.html(html_dropdown);
                        }
                    }else{
                        console.log("Ocurrió un error obteniendo materias");
                    }
            }
        );
    });
    txt_input_nombre_mat_en_modal.on('input',function(e){
        $.get("{% url 'materias' %}",{
                    nombre:txt_input_nombre_mat_en_modal.val(),
                    max_length:5,
                },
                function(data, status){
                    if (status == "success"){
                        if(data.materias.length == 1 && data.materias[0].nombre == txt_input_nombre_mat_en_modal.val()){
                            select_creditos_en_modal.selectpicker('val',data.materias[0].creditos);
                            txt_input_codigo_mat_en_modal.val(data.materias[0].codigo);
                        }else{
                            var html_dropdown = '';
                            for(var i in data.materias){
                                html_dropdown += '<option value="' + data.materias[i].nombre + '">' + data.materias[i].codigo+" - " +data.materias[i].nombre+ '</option>';

                            }
                            dowpdown_opciones_materias_nombres.html(html_dropdown);
                        }
                    }else{
                        console.log("Ocurrió un error obteniendo materias");
                    }
            }
        );
    });


    var form_validar = $("form[data-togle='validator']");
    var campos_validar = form_validar.find("input,select");

    function limpiarErrorCampo(index, campo) {
        var jqCampo = $(campo);

        var container = jqCampo.closest("div.form-group");
        var jqMensajes = container.find("div.validate-errors ul");
        var jqIcono = container.children("span.glyphicon");

        container[0].className = "form-group";
        if(jqIcono.length > 0) {
            jqIcono[0].className = " glyphicon form-control-feedback ";
            container[0].className += " has-feedback";
        }

        jqMensajes.html("");

    }

    function limpiarMensajesErrorCampos() {
        campos_validar.each(limpiarErrorCampo);
    }

    function validarCampo(jqCampo) {
        var container = jqCampo.closest("div.form-group");
        var jqIcono = container.children("span.glyphicon");

        var state = "success";
        var mensaje_error = "";

        var pattern_valid = jqCampo.data('validator-pattern');

        if(pattern_valid != undefined){
            if(!jqCampo.val().match(pattern_valid)){
                state = "error";
                mensaje_error = jqCampo.data('validator-pattern-mensage') || "¡El campo contiene campos inválidos!";
                agregarErrorCampo(jqCampo,mensaje_error);
            }
        }

        var f_valid = jqCampo.data("validator-function");

        if(f_valid != undefined){
            f_valid = window[jqCampo.data("validator-function")];
        }

        if(typeof f_valid === 'function') {
            var resultado = f_valid(jqCampo.val());
            if(resultado.es_valido){
                state = "success";
            }else{
                state = "error";
                for(var i in resultado.errores){
                    agregarErrorCampo(jqCampo,resultado.errores[i]);
                }
            }
        }

        if(jqCampo.prop('required')&& jqCampo.val() == ""){
            state = "error";
            agregarErrorCampo(jqCampo,'¡Este campo es obligatorio!');
        }

        if(jqIcono.length > 0) {
            if (state == "error") {
                jqIcono[0].className += " glyphicon-remove";
            } else {
                jqIcono[0].className += " glyphicon-ok";
            }
        }

        //jqCampo.closest('form').es_valido = state != "error";
        container[0].className += " has-" + state;
        if(state == "error"){
            errores_en_campos = true;
            btn_accion[0].className = "btn btn-danger";
        }

    }


    function iniciar_validar_form() {
        // Creamos los elementos en el DOM para colocar los errores
        campos_validar.each(function () {
            var dElement = $(this);

            var container = dElement.closest("div.form-group");

            //var ul_messagesobj = container.find("div.validate-errors ul");
            if(dElement.is('input')){
                container.append('<span class="glyphicon form-control-feedback" aria-hidden="true"></span>');
                container.addClass("has-feedback");
            }
            container.append("<div class = 'help-block validate-errors'><ul></ul></div>");
        });

    }

    iniciar_validar_form();

    campos_validar.on('input',function(event) {
        limpiarErrorCampo(null,this);
        btn_accion[0].className = "btn btn-primary";
    });

    function agregarErrorCampo(jqCampo,mensaje){
        jqCampo.closest("div.form-group").find("div.validate-errors ul").append('<li>' + mensaje + '</li>');
    }

    campos_validar.change(function(event) {

        btn_accion[0].className = "btn btn-primary";
        limpiarErrorCampo(null,this);
        var jqCampo = $(this);
        validarCampo(jqCampo);
    });

    function validar_codigo(codigo_str){

        var resultado = {es_valido:true,errores:[]};

        if(codigo_str == "") return resultado;

        if(!codigo_str.match(/^[A-Za-z]{2,4}-?\d{3,4}$/)){
            resultado.es_valido = false;
            resultado.errores.push('¡Codigo incorrecto!');
            return resultado;
        }

        for(var j in plan_creado_json.trimestres[indice_trimestre].materias){
            if(indice_materia != j && plan_creado_json.trimestres[indice_trimestre].materias[j].codigo == codigo_str){
                resultado.es_valido = false;
                resultado.errores.push('¡No puedes agregar la materia dos veces en el mismo Trimestre!');
            }
        }

        return resultado;
    }

</script>