{% extends 'misvoti/base.html' %}
{% load static %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
      <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Datos de acceso a tu cuenta CAS</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item active">Crear accediendo a mi expediente</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
      </section>
        <!-- Main content -->
        <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <fieldset >
                    <form role="form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="form-group has-feedback">
                            <label class="control-label" for="{{ form.usbid.id_for_label }}">Usbid</label>
                            <input type="text" class="form-control form-component" id="{{ form.usbid.id_for_label }}" name="{{ form.usbid.html_name }}" value="{{ form.usbid.value |default_if_none:'' }}" placeholder="Ex: 11-10390" required>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            {{ form.usbid.errors }}
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="{{ form.password_cas.id_for_label }}">Contraseña de CAS</label>
                            <input type="password" class="form-control form-component" id="{{ form.password_cas.id_for_label }}" name="{{ form.password_cas.html_name }}" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {{ form.password_cas.errors }}
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Crear Plan</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </section>
</div>
    <!-- /.row -->
{% endblock %}
