{% extends 'misvoti/base.html' %}
{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista de Planes
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-table"></i> Planes
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <h2 style="display: inline-block;">Planes Creados</h2>
            <a href="{% url 'crear_plan' %}" class="btn btn-primary" role="button" style="margin-left: 10px;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Crear Nuevo Plan
            </a>
            <hr>
            {%  for plan in planes %}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"> <strong> Nombre del plan:</strong> {{ plan.nombre }}</h3>
                  </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Indice Acumulado:</strong> {{ plan.datos.indice }}
                            </div>
                            <div class="col-md-3">
                                <strong>Retiros:</strong> {{ plan.datos.n_retiros }}
                            </div>
                            <div class="col-md-3">
                                <strong>Trimestres:</strong> {{ plan.datos.n_trimestres }}
                            </div>
                            <div class="col-md-3">
                                <strong>Creditos Inscritos:</strong> {{ plan.datos.creds_inscri }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                         <a href="{% url 'ver_plan' plan.nombre %}" role="button">Modificar</a>
                        <button type="button" class="btn btn-link" data-accion="eliminar-plan" data-nombre-plan = "{{ plan.nombre }}">Eliminar</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

{% block final_pagina_scripts %}
    <script>

        $("button[data-accion='eliminar-plan']").click(function (e) {

            var button = $(this);
            var nombre_plan = button.data('nombre-plan');

            alertify.confirm(
                    'Plan: ' + nombre_plan,
                    '¿ Eliminar plan: "' + nombre_plan + '" ?',
                    function(){

                        var n_puntos = 1;

                        var msg_eliminando = alertify.message('Eliminando plan: ' + nombre_plan + '.',0, function(){ clearInterval(interval);});

                         var interval = setInterval(function(){
                             n_puntos = (n_puntos + 1) % 4;
                            msg_eliminando.setContent('Eliminando plan: ' + nombre_plan + ".".repeat(n_puntos));
                         },500);

                        var pannel_plan = button.closest("div.panel");
                        $.post("{% url 'eliminar_plan_ajax' %}",{
                            nombre_plan: nombre_plan,
                            },function(data, status){
                                if (status == "success"){
                                    alertify.success('¡Eliminado plan: ' + nombre_plan + "!");
                                    msg_eliminando.dismiss();
                                    pannel_plan.hide('slow', function(){ pannel_plan.remove(); });
                                }else{
                                    alertify.error('Ocurrió un error eliminando el plan: ' + nombre_plan);
                                }
                            }
                        );

                    },
                    null
            ).setting({
                'labels':{ok:'¡Sí!', cancel:'¡No!'}
            });
        });

     </script>
{% endblock %}