{% extends 'misvoti/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modificar Plan
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'planes' %}">Planes</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> {{ plan.nombre }}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <h2>Nombre: {{ plan.nombre }}</h2>

            <fieldset>
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-primary" disabled="disabled" id = "btn-guardar-cambios">Guardar Cambios</button>

                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Más Opciones
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
{#                      <li><a href="#">Eliminar</a></li>#}
                    </ul>
                  </div>
                </div>

                <div style="margin-top:30px;" id="div-trimestres">
                        <!--Aquí se va a poner los datos del plan dinamicamente-->
                </div>
            </fieldset>
        </div>
    </div>
    <!-- /.row -->

    {% include 'planeador/modal_agregar_materia.html' %}
    {% include 'planeador/modal_agregar_trimestre.html' %}

{% endblock %}

{% block final_pagina_scripts %}
    <script>
        var path_image_gear = "{% static 'misvoti/images/gears.svg' %}";
        var path_image_flecha_up = "{% static 'misvoti/images/ic_trending_up_black_24px.svg' %}"
        var path_image_flecha_same = "{% static 'misvoti/images/ic_trending_flat_black_24px.svg' %}"
        var path_image_flecha_down = "{% static 'misvoti/images/ic_trending_down_black_24px.svg' %}"
    </script>


    <script src="{% static 'planeador/js/ver_plan.js' %}"></script>
    <script>
        cargar_datos_plan({{ plan.id }});
    </script>
{% endblock %}