{% extends 'misvoti/base.html' %}
{% load as_json %}

{% block inicio_pagina_scripts %}
    <script>
        var plan = {{ plan | as_json}};

    </script>
{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Mi Plan
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-table"></i> Plan
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">

            {% if plan %}
                <h2 style="display: inline-block;"><strong> Nombre del plan:</strong> {{ plan.nombre }} </h2>

                <hr>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"> <strong> Nombre del plan:</strong> {{ plan.nombre }}</h3>
                  </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Indice Acumulado:</strong> {{datos.indice }}
                            </div>
                            <div class="col-md-3">
                                <strong>Retiros:</strong> {{datos.n_retiros }}
                            </div>
                            <div class="col-md-3">
                                <strong>Trimestres:</strong> {{datos.n_trimestres }}
                            </div>
                            <div class="col-md-3">
                                <strong>Creditos Inscritos:</strong> {{datos.creds_inscri }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                         <a href="{% url 'ver_plan' %}" role="button">Modificar</a>
                        <button type="button" class="btn btn-link" data-accion="eliminar-plan" data-plan-nombre = "{{ plan.nombre }}" data-plan-id = "{{ plan.id }}">Eliminar</button>
                    </div>
                </div>
            {% else %}
                <div class="jumbotron">
                  <h1>¡No tienes ningún plan creado!</h1>
                  <p>¡Comienza a llevar el control de tu progreso y planear tus trimestres con nosotros!</p>
                  <p><a class="btn btn-primary btn-lg" href="{% url 'crear_plan' %}" role="button">¡Crear Plan!</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

{% block final_pagina_scripts %}
    <script>

        $("button[data-accion='eliminar-plan']").click(function (e) {

            var button = $(this);
            var nombre_plan = button.data('plan-nombre');
            var id_plan = button.data('plan-id');

            alertify.confirm(
                    'Plan: ' + nombre_plan,
                    '¿ Eliminar plan ?',
                    function(){

                        var n_puntos = 1;

                        var msg_eliminando = alertify.message('Eliminando plan: ' + nombre_plan + '.',0, function(){ clearInterval(interval);});

                         var interval = setInterval(function(){
                             n_puntos = (n_puntos + 1) % 4;
                            msg_eliminando.setContent('Eliminando plan: ' + nombre_plan + ".".repeat(n_puntos));
                         },500);

                        var pannel_plan = button.closest("div.panel");
                        $.ajax({
                            url:"http://127.0.0.1:8000/api/planes_creados/"+id_plan,
                            type: 'DELETE',
                            success: function(data,status,request) {
                                alertify.success('¡Eliminado plan: ' + nombre_plan + "!");
                                msg_eliminando.dismiss();
                                pannel_plan.hide('slow', function(){ pannel_plan.remove(); });
                                n_planes--;
                                if(n_planes<=0){
                                    div_alert_sin_planes.show("slow");
                                }
                            },
                            error:function (request, status, error) {
                                console.log(status,error);
                                alertify.error('Ocurrió un error eliminando el plan: ' + nombre_plan)
                            },
                            contentType:'application/json; indent=4;charset=UTF-8',
                            dataType:'json',
                        });

                    },
                    null
            ).setting({
                'labels':{ok:'¡Sí!', cancel:'¡No!'}
            });
        });

     </script>
{% endblock %}