html {
    background: #388E3C;
}

/*
Tema para el botón de iniciar sesión
*/
.login-box-body button[type='submit']{
    color: #fff !important;
    background-color: #3d9970 !important;
}

.login-box-body button[type='submit']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
}


.btn-login-cas:active, .btn-login-cas.active, .open>.dropdown-toggle.btn-login-cas {
    background-image: none;
}
.btn-login-cas:active, .btn-login-cas.active, .open>.dropdown-toggle.btn-login-cas {
    color: #fff;
    background-color: #388E3C;
    border-color: rgba(0,0,0,0.2);
}
.btn-login-cas:hover {
    color: #fff;
    background-color: #388E3C;
    border-color: rgba(0,0,0,0.2);
}
.btn-login-cas:active, .btn-login-cas.active, .open>.dropdown-toggle.btn-login-cas {
    background-image: none;
}
.btn-login-cas:active, .btn-login-cas.active, .open>.dropdown-toggle.btn-login-cas {
    color: #fff;
    background-color: #388E3C;
    border-color: rgba(0,0,0,0.2);
}
.btn-login-cas:hover {
    color: #fff;
    background-color: #388E3C;
    border-color: rgba(0,0,0,0.2);
}
.btn-login-cas {
    color: #fff;
    background-color: #4CAF50;
    border-color: rgba(0,0,0,0.2);
}

.hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-page{
    background: #388E3C;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #56cdc7!important;
    border-color: white;
}
@media (max-width: 768px) {
    .main-header .logo .logo-lg img {
        height: 56px;
    }
}

.btn-primary:hover{
    background-color: #6be0da;
    border-color: white;
}

.btn-link{
    color: #56cdc7
}

.skin-blue .sidebar-menu>li.active>a{
    border-left-color: #56cdc7
}
.skin-blue .sidebar-menu>li.header {
    color: #fff;
    background: #1a2226;
}

a.sidebar-toggle:hover {
    background-color: #56cdc7 !important;
}

.skin-blue .main-header .logo {
    background-color: #388E3C;
}

.skin-blue .main-header .logo:hover {
    background-color: #56cdc7;
}

.skin-blue .main-header .navbar {
    background-color: #388E3C;
}

.skin-blue .main-header li.user-header {
    background-color: #56cdc7;
}

.main-sidebar{
    background-color: #364044!important;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
    background: #2e373a;
}
